# --- NER ---

[infer]
input_folders = [
    "/export/home/cse200093/Adam/biomedics/data/study_cortico_GF/maladie_de_takayasu/raw_CRH",
    "/export/home/cse200093/Adam/biomedics/data/study_cortico_GF/sclerodermie_systemique/raw_CRH",
    "/export/home/cse200093/Adam/biomedics/data/study_cortico_GF/syndrome_des_anti_phospholipides/raw_CRH",
    "/export/home/cse200093/Adam/biomedics/data/study_cortico_GF/lupus_erythemateux_dissemine/raw_CRH"
    ]
model_path = "/export/home/cse200093/Adam/biomedics/models/ner/expe_ner_final_v4/model-last"
output_folders = [
    "/export/home/cse200093/Adam/biomedics/data/study_cortico_GF/maladie_de_takayasu/brat_pred",
    "/export/home/cse200093/Adam/biomedics/data/study_cortico_GF/sclerodermie_systemique/brat_pred",
    "/export/home/cse200093/Adam/biomedics/data/study_cortico_GF/syndrome_des_anti_phospholipides/brat_pred",
    "/export/home/cse200093/Adam/biomedics/data/study_cortico_GF/lupus_erythemateux_dissemine/brat_pred"
    ]

# --- EXTRACT MEASUREMENT ---

[debug]
debug = true

[spark]
deploy_mode = "client"
master = "local"
add_home = "true"
driver_memory = "32g"
executor_memory = "32g"
num_executors = 20
executor_cores = 8
memory_overhead = "3g"

[spark.conf]
spark.driver.maxResultSize = "16g"
spark.default.parallelism = 160
spark.shuffle.service.enabled = "true"
spark.sql.shuffle.partitions = 160
spark.yarn.am.memory = "4g"
spark.yarn.max.executor.failures = 10
spark.eventLog.enabled = "true"
spark.sql.execution.arrow.enabled = "true"
spark.sql.execution.arrow.pyspark.enabled = "true"

[script]
brat_dirs = ${infer.output_folders}
label_key = "BIO_comp"
labels_to_remove = ["BIO", "BIO_Val"]

# --- DRUG NORMALIZATION ---

[fuzzy_matching]
drug_dict_path = "/export/home/cse200093/Adam/biomedics/data/drug_knowledge/final_dict.pkl"
brat_dirs = ${infer.output_folders}
label_to_normalize = "Chemical_and_drugs"
method = "jaro_winkler"
threshold = 0.8
qualifiers = ["Temporality", "Certainty", "Action", "Negation", "Allergie", "Family"]

# --- LAB TEST NORMALIZATION ---

[emdedding_similarity]
model_path = "/data/scratch/cse200093/word-embedding/coder_all"
input_dirs = ${infer.output_folders}
umls_path = "full_atc_str_2023AB.pkl"
labels_column_name = "ATC"
# Name of the column which contains the CUIs
synonyms_column_name = "STR"
# Name of the column which contains the synonyms
label_to_normalize = "Chemical_and_drugs"
qualifiers = ["Temporality", "Certainty", "Action", "Negation", "Allergie", "Family"]
column_name_to_normalize = "term_to_norm"
# Name of the preceding column of interest.
model_device = "cuda:0"
summary_method = "CLS"
batch_size = 128
tqdm_bar = true
save_umls_embeddings_dir = false
# set to False if you don't want to save
save_umls_des_dir = false
# set to False if you don't want to save
save_umls_labels_dir = false
# set to False if you don't want to save
save_data_embeddings_dir = false
# set to False if you don't want to save
normalize = true
cased = false
stopwords = [
    "for",
    "assay",
    "by",
    "tests",
    "minute",
    "exam",
    "with",
    "human",
    "moyenne",
    "in",
    "to",
    "from",
    "analyse",
    "test",
    "level",
    "fluid",
    "laboratory",
    "determination",
    "examination",
    "releasing",
    "quantitative",
    "screening",
    "and",
    "exploration",
    "factor",
    "method",
    "analysis",
    "laboratoire",
    "specimen",
    "or",
    "typing",
    "of",
    "concentration",
    "measurement",
    "detection",
    "procedure",
    "identification",
    "numeration",
    "hour",
    "retired",
    "technique",
    "count"
    ]
remove_stopwords_terms = true
remove_special_characters_terms = true
remove_stopwords_umls = true
remove_special_characters_umls = true

# --- Classify DISO ---

[classify_diso]
classif_model_path = "/export/home/cse200093/Expe_Pheno/20220607T140419_expe_pheno_classifier_camembert_l_umls_fr_local_best"
labels_path = "/export/home/cse200093/Expe_Pheno/out/labels_20220607T140419_expe_pheno_classifier_camembert_l_umls_fr_local.csv"
embedding_model_path = ${emdedding_similarity.model_path}
brat_dirs = ${infer.output_folders}
stopwords = ${emdedding_similarity.stopwords}
qualifiers = ["Certainty", "Family", "Negation"]

# --- Treatments And Outcomes ---

[treatments_lab_tests_outcomes]
input_dirs = ${infer.output_folders}

[group_brat]
input_dirs = ${infer.output_folders}
conf_path = "/export/home/cse200093/brat_data/BioMedics"
output_dirs = [
    "/export/home/cse200093/brat_data/BioMedics/study_cortico_GF/maladie_de_takayasu",
    "/export/home/cse200093/brat_data/BioMedics/study_cortico_GF/sclerodermie_systemique",
    "/export/home/cse200093/brat_data/BioMedics/study_cortico_GF/syndrome_des_anti_phospholipides",
    "/export/home/cse200093/brat_data/BioMedics/study_cortico_GF/lupus_erythemateux_dissemine"
    ]

[style]
# Colors and labels for highlighting
category20 = [
    "#1f77b4",
    "#aec7e8",
    "#ff7f0e",
    "#ffbb78",
    "#2ca02c",
    "#98df8a",
    "#d62728",
    "#ff9896",
    "#9467bd",
    "#c5b0d5",
    "#8c564b",
    "#c49c94",
    "#e377c2",
    "#f7b6d2",
    "#7f7f7f",
    "#c7c7c7",
    "#bcbd22",
    "#dbdb8d",
    "#17becf",
    "#9edae5"
    ]

labels = [
    "Médicament",
    "Date",
    "Signe et symptôme",
    "Durée",
    "Biologie"
    ]
atc_code_path = "/export/home/cse200093/Adam/biomedics/data/drug_knowledge/atc_2023.xls"
